{% extends 'admin/master.html' %}
{% from '_macro/sidebar.html' import menuitem, model_menuitem %}


{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ url_for('ctr.index') }}">控制面板</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ admin_view.name }}</li>
    </ul>
{% endblock %}


{% block wrap %}

<div id="wrap" class="container-fluid">

    <div class="row-fluid">

        <div class="span2" id="sidebar">

            <div class="sidebar-nav">
                <div class="nav-title">系统信息</div>
                <ul class="nav nav-list">
                    {{ menuitem('system_summary.index_view', '基本信息') }}
                    {{ menuitem('system_permission.index_view', '权限信息') }}
                </ul>
            </div>

            <div class="sidebar-nav">
                <div class="nav-title">权限管理</div>
                <ul class="nav nav-list">
                    {{ menuitem('system_user.index_view', '用户') }}
                    {{ menuitem('system_group.index_view', '用户组') }}
                    {{ menuitem('system_guard.index_view', '设置') }}
                </ul>
            </div>

            <div class="sidebar-nav">
                <div class="nav-title">服务器管理</div>
                <ul class="nav nav-list">
                    {{ menuitem('system_zoning.index_view', '设置') }}
                </ul>
            </div>

            <div class="sidebar-nav">
                <div class="nav-title">系统表数据</div>
                <ul class="nav nav-list">
                    {{ model_menuitem('system_model_user', '用户表') }}
                    {{ model_menuitem('system_model_group', '用户组表') }}
                    {{ model_menuitem('system_model_gamesvr', '服务器表') }}
                    {{ model_menuitem('system_model_zone', '服务器组表') }}
                </ul>
            </div>


        </div>

        <div id="main" class="span10">

            <div class="title">{{ admin_view.name }}</div>

            {% block main_content %}

                请从左边选择操作

            {% endblock %}
        </div>

    </div>

</div>

{% endblock %}
