<div id="toolbar">

    <div class="btn-group">
        <a class="btn" target="_blank"
           href="../map/"><i class="fa fa-file"></i>打开</a>
        <a id="save-btn" class="btn" href="javascript:void(0);"><i class="fa fa-save"></i>保存</a>
    </div>

    <div class="btn-group">
        <a id="toggle-coordinate-btn" class="btn"
            data-toggle="button"
            href="javascript:void(0);"><i class="fa fa-map-marker "></i>显示坐标</a>
        <a id="toggle-routepath-btn" class="btn"
            data-toggle="button"
            href="javascript:void(0);"><i class="fa fa-road "></i>路由路径</a>
        <a id="toggle-isometric-btn" class="btn"
            data-toggle="button"
            href="javascript:void(0);"><i class="fa fa-eye "></i>45度视角</a>
    </div>

    <div class="btn-group">
        <a id="add-grid-btn" class="btn"
            href="javascript:void(0);"><i class="fa fa-plus"></i>添加地格</a>
    </div>

    <div id="alert-area" class="alert" style="display: none"></div>

    <div id="info-area" style="display: inline-block">
        <span class="label">ID</span>
        <span class="value value-id"></span>
        <span class="label">名称</span>
        <span class="value value-name"></span>
        <span class="label">大小</span>
        <span class="value value-size"></span>
    </div>

</div>
