#!/usr/bin/env python
# -*- coding:utf-8 -*-

app = "gateway"

port = 18111
main_addr = '127.0.0.1:18002'
aes_key = '4fcc09d3ceb79129'
conn_mode = 'ws' #websocket
win_exe = 'main.exe'
linux_exe = 'main'